<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.jutupe.home">

    <application>
        <activity android:name=".HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".createDebtor.CreateDebtorActivity"
            android:label="@string/activity_name_create_debtor"
            android:parentActivityName=".HomeActivity">
            <intent-filter>
                <action android:name="pl.jutupe.cashier.action.create.debtor" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".createDebt.CreateDebtActivity"
            android:label="@string/activity_name_create_debt"
            android:parentActivityName=".HomeActivity">
            <intent-filter>
                <action android:name="pl.jutupe.cashier.action.create.debt" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".createGroup.CreateGroupActivity"
            android:label="@string/activity_name_create_group"
            android:parentActivityName=".HomeActivity">
            <intent-filter>
                <action android:name="pl.jutupe.cashier.action.create.group" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>